# Logs
logs
*.log
npm-deMsg.log*
yarn-deMsg.log*
yarn-error.log*
pnpm-deMsg.log*
lerna-deMsg.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
